body {
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-position: inherit;
    font-family: 'Trebuchet MS', sans-serif;

}

.wrapper {
    background-color:cornsilk;
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 15px 50px 25px;
}

.name {
    background-color: burlywood;
    display: inline-block;
    width: 140px;
    padding: 15px 50px 15px;
    height: auto;
    border: 2px solid black;
    font-size: 22px;
    text-align: center;
}

.score {
    background-color: burlywood;
    width: 140px;
    padding: 15px 50px 15px;
    height: auto;
    border: 2px solid black;
    float: right;
    font-size: 22px;
    text-align: center;
}

.question {
    background-color: grey;
    margin: auto;
    margin-top: 20px;
    padding: 15px 50px 15px;
    width: auto;
    height: auto;
    border-style: double;
    font-size: 22px;
    border-color: black;
}

.answer {
    background-color: khaki;
    margin: auto;
    margin-top: 15px;
    padding: 15px 50px 15px;
    font-size: 20px;
    text-align: center;
    width: 500px;
}