{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "api_site/style.css" %}" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="wrapper">
        <div class="question">
            {{ questions }}
        </div>
        {% for item in answers %}
            <button class="answer">{{ item }}</button>
        {% endfor %}
    </div>
</body>

</html>