{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "api_site/style.css" %}" rel="stylesheet">
    <title>Success</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <div class="wrapper">
            <div class="answear">
                <h2>Insert Name:</h2>
                <input type="text" name="username">
                <button type="submit" name="submit">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>